<% layout("layout/biolerplate") %>

<h3>Edit your Nest</h3>

<form method="post"
      action="/listing/<%= listings._id %>?_method=put"
      enctype="multipart/form-data">

    <div class="mb-3">
        <label>Title</label>
        <input name="listing[title]" value="<%= listings.title %>" class="form-control">
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea name="listing[description]" class="form-control"><%= listings.description %></textarea>
    </div>

    <!-- Existing Images -->
    <div class="mb-3">
        <label>Current Images</label>
        <div class="row">
            <% listings.images.forEach(img => { %>
                <div class="col-4 mb-3">
                    <img src="<%= img.url %>" class="img-fluid rounded">

                    <input type="checkbox"
                           name="deleteImages"
                           value="<%= img.filename %>"> Delete
                </div>
            <% }) %>
        </div>
    </div>

    <!-- Upload New -->
    <div class="mb-3">
        <label>Upload More Images</label>
        <input type="file" name="listing[images]" multiple class="form-control">
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input name="listing[price]" value="<%= listings.price %>" class="form-control">
    </div>

    <div class="mb-3">
        <label>Location</label>
        <input name="listing[location]" value="<%= listings.location %>" class="form-control">
    </div>

    <div class="mb-3">
        <label>Country</label>
        <input name="listing[country]" value="<%= listings.country %>" class="form-control">
    </div>

    <div class="mb-3">
        <label>Map Source Code</label>
        <input name="listing[mapsrc]" value="<%= listings.mapsrc %>" class="form-control">
    </div>

    <button class="btn btn-dark">Update</button>
</form>
