<% layout("layout/biolerplate") %>

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-3"><%= listings.title %></h2>
        </div>
    </div>

    <div class="card show-card col-md-8 mx-auto listing-card">

        <!-- Carousel -->
        <div id="listingCarousel" class="carousel slide">

            <div class="carousel-inner">
                <% listings.images.forEach((img, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <img src="<%= img.url %>" class="d-block w-100 rounded" alt="Image">
                    </div>
                <% }) %>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#listingCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#listingCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>

        <dl class="form-control mt-3">
            <p><dt>Owned by:</dt> <dd><%= listings.owner.username %></dd></p>
            <p><dt>Description:</dt> <dd><%= listings.description %></dd></p>
            <p><dt>Price:</dt> <dd>₹<%= listings.price %></dd></p>
            <p><dt>Location:</dt> <dd><%= listings.location %></dd></p>
            <p><dt>Country:</dt> <dd><%= listings.country %></dd></p>
        </dl>

        <% if (currUser && listings.owner._id.equals(currUser._id)) { %>
            <a href="/listing/<%= listings._id %>/edit" class="btn btn-outline-dark">Edit</a>

            <form method="POST" action="/listing/<%= listings._id %>?_method=DELETE">
                <button class="btn btn-dark mt-2">Delete</button>
            </form>
        <% } %>

        <form action="/listing/<%= listings._id %>/book">
            <button class="book">Book Now</button>
        </form>

    </div>
</div>
