<% layout("/layout/biolerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
    <h3><%= listings.title %></h3>
</div>
<div class="card col-6 offset-3 show-card listing-card">
<img src="<%= listings.Image.url %>" class="card-img-top show-img" alt="listing_image">
        <dl class="form-control">
            <p class="card-text">
                <dt>Owned by :</dt>
            <dd><i><%= listings.owner.username%></i></dd>
        </p>
        <p class="card-text">
        <dt>Description :</dt>
        <dd><%= listings.description %></dd>
    </p>
    <p class="card-text">
       <dt>Price :</dt>
        <dd>&#x20B9;<%= listings.price%></dd>
    </p>
    <p class="card-text">
        <dt>Location :</dt>
        <dd><%= listings.location %></dd>
    </p>
    <p class="card-text">
        <dt>Country :</dt>
        <dd><%= listings.country %></dd>
    </p>
</dl>
<iframe src="<%= listings.mapsrc %>" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br>
    <% if(currUser && listings.owner._id.equals(currUser._id)){%>
    <div class="btns">
     <a href="/listing/<%= listings._id%>/edit" class="edit">Edit this list</a>
     <br>
     <br>
     <form method="post"  action="/listing/<%= listings._id%>?_method=Delete">
     <button class="btn btn-dark delete-btn">Delete this list</button>
   
    </div>
    </form></div>
</div>
<%}%>

<div class="col-6 offset-3 mb-3  ">
    <hr>
    <% if(currUser){%>
    <h4>Leave a Review</h4> 
    <form action="/listing/<%=listings._id%>/reviews" method="post" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
     
            <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
           
        </div>
        <div class="mb-3 mt-3">
            <label for="comment"  class="form-label">Comment</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please submit some comments for review</div>
        </div >
        <button class="btn btn-outline-dark">Submit</button>
    </form>
<%}%>
    <hr> 
<% for(review of listings.reviews){%>
    <p><b>All Reviews</b></p>
  <div class="row">


   <div class="card col-5 ms-3 mb-3">
<div class="card-body">
    <h5 class="card-title">@<%= review.author.username%></h5>
    <p class="card-text"><%= review.comment %></p>
    <p class="starability-result"data-rating="<%= review.rating %>"> Rated: 3 stars</p>
<form class="mb-3" method="post" action="/listing/<%=listings._id%>/reviews/<%=review._id%>?_method=Delete">
<button class="btn btn-sm btn-dark">Delete</button>
</form>
</div>

   </div>
    <%}%>
</div>

</div>
</body>
